# =========================
# Dependencies
# =========================
node_modules/

# =========================
# Environment variables
# =========================
.env
.env.*
!.env.example

# =========================
# Build output
# =========================
dist/
build/
out/
.tmp/
.cache/

# Angular
.angular/
coverage/

# =========================
# Logs
# =========================
logs/
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db
desktop.ini
**/desktop.ini

# =========================
# IDE
# =========================
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# =========================
# Typescript
# =========================
*.tsbuildinfo

# =========================
# Misc
# =========================
package-lock.json
safetrade-drive-key.json